<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:sqlite:/home/mohamed/Documents/budget/gnucash/db/gnucash_database_test.gnucash</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property name="hibernate.dialect">priv.nordea.db.hib.util.SQLiteDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="Billterms.hbm.xml" />
        <mapping resource="Books.hbm.xml" />
        <mapping resource="TaxtableEntries.hbm.xml" />
        <mapping resource="SqliteSequence.hbm.xml" />
        <mapping resource="Orders.hbm.xml" />
        <mapping resource="Commodities.hbm.xml" />
        <mapping resource="Employees.hbm.xml" />
        <mapping resource="Schedxactions.hbm.xml" />
        <mapping resource="Invoices.hbm.xml" />
        <mapping resource="Versions.hbm.xml" />
        <mapping resource="BudgetAmounts.hbm.xml" />
        <mapping resource="Transactions.hbm.xml" />
        <mapping resource="Customers.hbm.xml" />
        <mapping resource="Budgets.hbm.xml" />
        <mapping resource="Recurrences.hbm.xml" />
        <mapping resource="Jobs.hbm.xml" />
        <mapping resource="Entries.hbm.xml" />
        <mapping resource="Accounts.hbm.xml" />
        <mapping resource="Splits.hbm.xml" />
        <mapping resource="Taxtables.hbm.xml" />
        <mapping resource="Vendors.hbm.xml" />
        <mapping resource="Slots.hbm.xml" />
        <mapping resource="Gnclock.hbm.xml" />
        <mapping resource="Lots.hbm.xml" />
        <mapping resource="Prices.hbm.xml" />
        <mapping resource="XAccountShop.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
